body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	overflow-y: hidden;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

a {
	color: #fcbf62;
}

a:hover {
	color: #000;
}

.btn-primary {
	color: #fcbf62;
	background-color: #f5f5f5;
	border-color: #000;
	font-size: large;
	font-weight: bold;
	width: 250px;
	height: 45px;
}

.btn-primary:hover {
	color: #000;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
	background-color: #f5f5f5;
}